<!-- <style>
    .hed{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container{
        display: flex;
        justify-content: space-around;
    }
</style>
<h1 class="hed">Sample Angular App</h1>
<div class="container">
    <a routerLink="/home">Home</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
</div> -->

  

<!-- <app-home></app-home>

<app-register></app-register> -->


<router-outlet></router-outlet>
                        